.card__paragraph {
  max-width: 400px;
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 0;
}

.card__paragraph:first-of-type {
  margin: auto 0 0 0;
}

.card__paragraph:not(:last-of-type) {
  margin-bottom: 23px;
}
