.description__image {
  position: relative;
  right: 0;
}
.description__image::before {
  content: "";
  display: inline-block;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: image;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes image {
  0% {
    background-image: url(../../../images/new/intro-image.jpeg);
  }
  50% {
    background-image: url(../../../images/new/intro-image-2.jpg);
  }
  100% {
    background-image: url(../../../images/intro-image-3.jpg);
  }
}
