.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card:nth-of-type(even) {
  grid-auto-flow: dense;
}

.card:nth-of-type(even) .card__image {
  grid-column: 2;
}

.card:nth-of-type(even) .card__description {
  grid-column: 1;
}
